* {
  font-family: SpaceMono Nerd Font Propo, Roboto, Helvetica, Arial, sans-serif;
  font-size: 17px;
  /* color: #ddc7a1 */
}

window#waybar {
  /* background-color: rgba(0, 0, 0, 0.6); */
  transition-property: background-color;
  transition-duration: .5s;
}

#clock,
#custom-notification,
#custom-nixlogo,
#battery,
#backlight,
#network,
#power-profiles-daemon,
#wireplumber,
#tray {
  margin: 4px;
  padding: 2px 8px 2px;
  border-radius: 3px;
  /* background-color: #292828; */
  /* box-shadow: 2px 2px #151515; */
}

#workspaces {
  margin: 4px;
  background-color: transparent;
}

#workspaces button {
  padding: 0 5px;
  margin: 0 2px;
  /* background-color: transparent; */
  /* background-color: #292828; */
  border-radius: 3px;
}

#workspaces button.active {
  /* background-color: #665c54; */
}

#workspaces button:hover {
  /* background-color: #665c54; */
}

#workspaces button.urgent {
  /* background-color: #ea6962; */
}
